.input {
  display: flex;
  width: 100%;

  input {
    flex: 1;
    display: block;
    width: 100%;
    padding: 0.175rem 0.2rem;
    font-size: 0.28rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.1rem;

    &:focus {
      border: 1px solid #d31145;
    }
  }
}
